.wrapper {
  margin-top: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 96px;
  background: var(--color-background);
}

.left {
  display: flex;
  align-items: center;
}

.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-2px);
}

.logoText {
  font-size: 36px;
  font-weight: 800;
  color: var(--color-text-primary);
}

.right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.lang {
  font-size: 14px;
  color: var(--color-text-primary);
  cursor: pointer;
}
